<meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

<!-- Title -->
<title><%= suka_title() %><%= config.title %></title>

<!-- favicon -->
<%- partial('_partial/head/favicon', {}, {cache: theme.fragment_cache}) %>

<meta name="format-detection" content="telephone=no">

<!-- Description -->
<meta name="description" content="<%= suka_descr() %>">

<!-- Keywords -->
<meta name="keywords" content="<%= suka_tags() %>">

<!-- Disable Fucking Bloody Baidu Tranformation -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />