<div class="post-container">
    <div id="post-card" class="card">
        <% if (page.thumbnail) { %>
            <div class="card-image lazyload" data-bg="url('<%= page.thumbnail %>')"></div>
        <% } %>
        <div class="card-item-container">
            <div class="card-inner-cell">
                <!-- # Post Header Info # -->
                <div class="card-header">
                    <%- partial('_partial/post/header-info') %>
                </div>
                <div class="card-body">
                    <% if (theme.toc.enable && (page.toc !== false) ) { %>
                        <% const toc_obj = toc(page.content, {
                            class: 'post-toc',
                            list_number: theme.toc.line_number || false
                        }); %>
                        <% if (toc_obj.length > 0) { %>
                            <div id="post-toc"><%- toc_obj %></div>
                        <% } %>
                    <% } %>
                    <article id="post-content">
                        <%- page.content %>
                    </article>
                    <%- partial('_partial/post/footer-info') %>
                </div>
                <%- partial('_partial/post/footer-pagination') %>

                <% if (page.comments !== false) { %>
                    <!-- # Comment # -->
                    <% if (theme.comment.use) { %>
                        <div class="card-footer post-comment">
                            <%- partial('_plugin/comment/' + theme.comment.use + '/main') %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>