<% if (page.hide_license !== true && theme.post.license || page.license) { %>
    <blockquote class="post-license">
        <p>
            <strong><%- __('post.author') %>&nbsp;:&nbsp;<%= config.author %></strong>
            <br>
            <strong>
            <% if (page.license) { %>
                <%- page.license %>
            <% } else { %>
                <%- theme.post.license %>
            <% } %></strong>
            <br>
            <strong><%- __('post.permalink') %>&nbsp;:&nbsp;</strong><a href="<%= page.permalink %>"><%= page.permalink %></a>
        </p>
    </blockquote>
<% } %>

<% if (theme.post.expire === true) { %>
    <blockquote id="date-expire-notification" class="post-expired-notify"><%- __('post.expired', '<span id="date-expire-num"></span>') %></blockquote>
    <script>
        var dateUpdate = Date.parse("<%= date(page.updated, 'YYYY-MM-DD') %>");
        var nowDate = new Date();
        var a = nowDate.getTime();
        var b = a - dateUpdate;
        var daysUpdateExpire = Math.floor(b/(24*3600*1000));
        if (daysUpdateExpire >= 120) {
            document.getElementById('date-expire-num').innerHTML = daysUpdateExpire;
        } else {
            document.getElementById('date-expire-notification').style.display = 'none';
        }
    </script>
<% } %>

<p class="post-footer-info mb-0 pt-0"><%= __('post.posted') %>&nbsp;<time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, config.date_format) %></time>
<%  var posted = date(page.date, 'MMM DD, YYYY')
    var edited = date(page.updated, 'MMM DD, YYYY')
    if (posted !== edited) { %>
    , <%= __('post.edited') %>&nbsp;<time datetime="<%= date_xml(page.updated) %>" itemprop="dateModified"><%= date(page.updated, config.date_format) %></time>
<% } %>
</p>
<p class="post-footer-info mb-0 pt-2">
<% if (page.categories && page.categories.length) { %>
<span class="post-categories-list mt-2">
<% count = page.categories.length %>
<% page.categories.forEach(function(category, index) { %>
<a class="post-categories-list-item" href='<%= url_for(category.path) %>'><%= category.name %></a>
<% }); %>
</span>
<% } %>

<% if (page.tags && page.tags.length){ %>
<span class="post-tags-list mt-2">
<% count = page.tags.length %>
<% page.tags.forEach(function(tag, index) { %>
<a class="post-tags-list-item" href="<%= url_for(tag.path) %>" rel="tag">#&nbsp;<%= tag.name %></a>
<% }); %>
</span>
<% } %>

</p>
