<!DOCTYPE html>

<html <% if(config.language) { %>lang="<%- config.language %>"<% } %>>
    <%- partial('_partial/head/main') %>

    <body>
        <% if (page.layout !== 'gallery') { %>
            <!-- ### Main content ### -->
            <%- partial('_partial/header', {}, {cache: true}) %>

            <%- body %>
            <!-- ### Footer ### -->
            <%- partial('_partial/footer', {}, {cache: true}) %>
        <% } %>

        <!-- ### Import File ### -->
        <%- partial('_partial/source/footer') %>
    </body>

</html>