<!DOCTYPE html>

<html <% if (config.language) { %>lang="<%- config.language %>"<% } %>>
    <%- partial('_partial/head/index') %>

    <body>
            <% if (theme.comment.use === 'facebook') { %>
                <% if ( (is_post()) ) { %>
                    <!-- Facebook SDK -->
                    <%- partial('_plugin/comment/facebook/common_head', {}, {cache: theme.fragment_cache}) %>
                <% } %>
            <% } %>

            <!-- ### Main content ### -->
            <%- partial('_partial/header', {}, {cache: theme.fragment_cache}) %>
            <%- body %>
            <!-- ### Footer ### -->
            <%- partial('_partial/footer') %>

        <!-- ### Import File ### -->
        <%- partial('_partial/source/footer') %>
    </body>

</html>