<!DOCTYPE html>

<html <% if(config.language) { %>lang="<%- config.language %>"<% } %>>
    <%- partial('_partial/head/main') %>

    <body>
        <% if (page.layout === 'gallery') { %>
            <!-- ## Gallery ## -->
            <%- partial('_pages/gallery') %>
        <% } else { %>
            <!-- ### Main content ### -->
            <%- partial('_partial/header', {}, {cache: theme.fragment_cache}) %>
            <%- body %>
            <!-- ### Footer ### -->
            <%- partial('_partial/footer', {}, {cache: theme.fragment_cache}) %>
        <% } %>

        <!-- ### Import File ### -->
        <%- partial('_partial/source/footer') %>
    </body>

</html>