<div class="dropdown dropdown-right">
<a class="dropdown-toggle" tabindex="0"><%= __('share.post') %></a>
<ul class="menu share-menu">
    <!-- Share Weibo -->
    <% if(theme.sns_share.weibo) { %>
    <li class="menu-item">
        <a href="http://service.weibo.com/share/share.php?appkey=&title=<%= page.title %>&url=<%= full_url_for(page.path).replace('index.html', '') %>&pic=<% if (page.thumbnail) { %><%= page.thumbnail %><% } else { %><%= site_logo() %><% } %>&searchPic=false&style=simple" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toWeibo') %></a>
    </li>
    <% } %>

    <!-- Share Twitter -->
    <% if(theme.sns_share.twitter) { %>
    <li class="menu-item">
        <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= full_url_for(page.path).replace('index.html', '') %>&via=<%= config.author %>" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toTwitter') %></a>
    </li>
    <% } %>

    <!-- Share Facebook -->
    <% if(theme.sns_share.facebook) { %>
    <li class="menu-item">
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= full_url_for(page.path).replace('index.html', '') %>" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toFacebook') %></a>
    </li>
    <% } %>

    <!-- Share Google+ -->
    <% if(theme.sns_share.googleplus) { %>
    <li class="menu-item">
        <a href="https://plus.google.com/share?url=<%= full_url_for(page.path).replace('index.html', '') %>" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toGplus') %></a>
    </li>
    <% } %>

    <!-- Share LinkedIn -->
    <% if(theme.sns_share.linkedin) { %>
    <li class="menu-item">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= full_url_for(page.path).replace('index.html', '') %>&title=<%- config.title %>" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toLinkedIn') %></a>
    </li>
    <% } %>

    <!-- Share QQ -->
    <% if(theme.sns_share.qq) { %>
    <li class="menu-item">
        <a href="http://connect.qq.com/widget/shareqq/index.html?site=<%- config.title %>&title=<%- config.title %>&summary=<%= config.description %>&pics=<% if (page.thumbnail) { %><%= page.thumbnail %><% } else { %><%= site_logo() %><% } %>&url=<%= full_url_for(page.path).replace('index.html', '') %>" target="_blank" rel="external noopener noreferrer nofollow"> <%= __('share.toQQ') %></a>
    </li>
    <% } %>

    <!-- Share Telegram -->
    <% if(theme.sns_share.telegram) { %>
    <li class="menu-item">
        <a href="https://t.me/share/url?url=<%= full_url_for(page.path).replace('index.html', '') %>&text=<%- config.title %>" target="_blank" rel="external noopener noreferrer nofollow"><%= __('share.toTelegram') %></a>
    </li>
    <% } %>

    <!-- QRCode -->
    <% if(theme.qrcode.post_share) { %>
    <li class="menu-item">
        <img src="<%- qrcode(url, {margin: 2, size: 4}) %>" alt="QRCode">
    </li>
    <% } %>

</ul>
</div>