<div id="disqus_thread"></div>

<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.0.6/dist/disqus.js"></script>

<script>
var dsqjs = new DisqusJS({
    shortname: '<%= theme.comment.disqusjs.shortname %>',
    <% if (theme.comment.disqusjs.siteName) { %>
    siteName: '<%= theme.comment.disqusjs.siteName %>',
    <% } %>
    identifier: '<%= page.permalink %>',
    url: '<%= page.permalink %>',
    api: '<%= theme.comment.disqusjs.api %>',
    apikey: '<%= theme.comment.disqusjs.apikey %>',
    <% if (theme.comment.disqusjs.admin) { %>
    admin: '<%= theme.comment.disqusjs.admin %>',
    <% } %>
    <% if (theme.comment.disqusjs.adminLabel) { %>
    adminLabel: '<%= theme.comment.disqusjs.adminLabel %>'
    <% } %>
});
</script>
