<footer class="text-center">
    <!-- footer copyright -->
    <p class="footer-copyright mb-0">Copyright&nbsp;©&nbsp;<span data-year></span>
        <a class="footer-copyright-a" href="<%= config.url %>"><%= config.title %></a>
    </p>
    <!-- footer custom text -->
    <p class="footer-text mb-0">
    <% if(theme.footer.custom_text) { %>
        <% if(Array.isArray(theme.footer.custom_text)) { %>
            <%- theme.footer.custom_text.join('<br>') %>
        <% } else { %>
            <%- theme.footer.custom_text %>
        <% } %>
    <% } %>
    </p>
    <!-- footer develop info -->
    <p class="footer-develop mb-0">
        <% if (theme.busuanzi.enable === true) { %>
            <%- partial('_plugin/busuanzi/footer_counter', {}, {cache: theme.fragment_cache}) %>
        <% } %>
        <% if ( (theme.valine_counter.enable === true) && (theme.valine_counter.site_pv.enable === true) ) { %>
            <%- partial('_plugin/valine-counter/footer') %>
        <% } %>
        Powered by&nbsp;<!--
         --><a href="https://hexo.io" target="_blank" class="footer-develop-a" rel="external nofollow noopener noreferrer">Hexo</a><span class="footer-develop-divider"></span>Theme&nbsp;-&nbsp;<!--
         --><a href="https://github.com/SukkaW/hexo-theme-suka" target="_blank" class="footer-develop-a" rel="external noopener">Suka</a>
    </p>
</footer>
