<!-- ## Header ##-->
<header>
    <h1 class="header-title text-center"><a href="<%= config.root %>"><%= config.title %></a></h1>

    <p class="text-center header-slogan">
        <% if(theme.uiux.slogan) { %>
            <% if(Array.isArray(theme.uiux.slogan)) { %>
                <%- theme.uiux.slogan.join('<br>') %>
            <% } else { %>
                <%- theme.uiux.slogan %>
            <% } %>
        <% } %>
    </p>

    <%- partial('_partial/index-nav', {}, {cache: theme.fragment_cache}) %>
</header>
