<nav class="navbar-section text-center">
    <% if (theme.nav.home.use === true) { %>
        <a href="<%= url_for('/') %>" class="navbar-link"><%= __('home') %></a>
    <% } %>
    <% if (theme.nav.archives.use === true) { %>
        <a href="<%= url_for('archives/') %>" class="navbar-link"><%= __('archive') %></a>
    <% } %>
    <% if (theme.nav.search.use === true) { %>
        <a href="<%= theme.nav.search.link %>" class="navbar-link"><%= __('search.main') %></a>
    <% } %>
    <% for (var i in theme.nav.pages){ %>
        <a href="<%= theme.nav.pages[i].link %>" class="navbar-link"><%= i %></a>
    <% } %>
    <% if (theme.nav.share.use === true) { %>
        <%- partial('_partial/menu/index-share', {}, {cache: theme.fragment_cache}) %>
    <% } %>
    <% if (theme.nav.rss.use === true) { %>
        <a href="<%= url_for(config.feed.path) %>" target="_blank" class="navbar-link">RSS</a>
    <% } %>
</nav>