<style>
    a.disqus-author,
    a.disqus-author:hover,
    a.disqus-author:visited {
        color: #50596c;
    }

    #disqus-switch {
        margin-bottom: 1rem;
    }
</style>

<div class="comments" id="comments">
    <div id="disqus_thread" class="disqus-proxy-list"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@2.1.3"></script>
<script>
function setLocalStorage(s, e) {
    try {
        localStorage.setItem(s, e)
    } catch (o) {
        console.log(o), console.log("Failed to set localStorage item")
    }
}
function proxyMode() {
    setLocalStorage("disqusMode", "proxy"), $("#disqus_thread").empty(), $("#disqus-switch").remove(), $("#comments").prepend('<div id="disqus-switch"><button class="disqus-switch-button btn btn-primary" id="disqus-switch-to-direct" data-current-mode="proxy"><%- __('post.comment.load_disqus_fully_button') %></button></div>'), $("#disqus_thread").append('<div class="disqus-loading h5">Loading...</div>'), $.ajax({
        type: "GET",
        url: disqus_proxy + "threads/list.json?forum=" + disqus_shortname + "&thread=ident:" + disqus_identifier + "&api_key=" + disqus_apikey,
        contentType: "application/json; charset=utf-8",
        async: !0,
        success: function(s) {
            if (1 != s.response.length) return !1;
            var e = s.response[0].id;
            $.ajax({
                type: "GET",
                url: disqus_proxy + "posts/list.json?forum=" + disqus_shortname + "&thread=" + e + "&api_key=" + disqus_apikey,
                contentType: "application/json; charset=utf-8",
                async: !0,
                success: function(s) {
                    if (0 != s.response.length && "undefined" != typeof s.response) {
                        var e = '';
                        for (var o in s.response) {
                            if (s.response[o].media.length > 0) for (var t in s.response[o].media) s.response[o].message += '<a href="' + s.response[o].media[t].location + '" target="_blank" rel="nofollow"><img src="' + s.response[o].media[t].location + '" alt="图片"></a>';
                            e += '<div class="tile"><div class="tile-icon"><figure class="avatar"><a href="' + s.response[o].author.profileUrl + '" class="disqus-user" target="_blank" rel="nofollow"><img src="' + s.response[o].author.avatar.cache + '" alt="Avatar"></a></figure></div>'
                            e += '<div class="tile-content"><p class="tile-title text-bold mb-0 disqus-author"><a href="' + s.response[o].author.profileUrl + '" class="disqus-author" target="_blank" rel="nofollow">' + s.response[o].author.name + '</a></p><p class="tile-subtitle small mb-1 text-gray">' + s.response[o].createdAt + '</p><p class="tile-subtitle mb-2">' + s.response[o].message + '</p></div></div>'
                        }
                        $("#disqus_thread").empty(), $("#disqus_thread").append(e), s.cursor.more && $("#comments").append('<div id="disqus-loadmore" class="text-center"><button id="disqus-loadmore-button" class="btn btn-primary">Load more</button></div>')
                    } else $(".disqus-loading").text("Um...Nothing yet")
                },
                error: function(s) {
                    console.log(s)
                }
            })
        },
        error: function(s) {
            console.log(s)
        }
    })
}
function directMode(s) {
    $("#disqus_thread").empty(), $("#disqus-switch").remove(), $("#disqus-loadmore").remove(), $("#comments").prepend('<div id="disqus-switch" class="text-center"><button class="disqus-switch-button btn" id="disqus-switch-to-proxy" data-current-mode="direct"><%- __('post.comment.load_disqus_proxy_button') %></button></div>');
    var e = document.createElement("script");
    e.type = "text/javascript", e.async = !0, e.src = "//" + disqus_shortname + ".disqus.com/" + s, (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(e), setLocalStorage("disqusMode", "direct")
}
var disqus_shortname = "<%= theme.comment.disqus_proxy.shortname %>",
    disqus_apikey = "<%= theme.comment.disqus_proxy.apikey %>"
    disqus_proxy = "<%= theme.comment.disqus_proxy.proxy %>"
    disqus_identifier = "<%= page.permalink %>",
    disqus_title = "<%= page.title %>",
    disqus_url = "<%= page.permalink %>";
$("body").on("click", "#disqus-switch-to-proxy", function() {
    proxyMode()
}), $("body").on("click", "#disqus-switch-to-direct", function() {
    directMode("embed.js")
}), $(window).on("scroll.comments", function() {
    if ($(window).scrollTop() + $(window).height() > .7 * $(document).height()) {
        try {
            "proxy" == localStorage.getItem("disqusMode") ? proxyMode() : directMode("embed.js")
        } catch (s) {
            console.log(s), console.log("Failed to get localStorage item"), proxyMode()
        }
        $(window).off("scroll.comments")
    }
})
</script>
